body {
  background-color: #ffffff;
  color: #000000;
}

.story-text {
  font-size: 16px;
  line-height: 1.2;
  line-height: 75%;
  line-height: 2em;
  line-height: normal;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-style: italic;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
  background-image: url(instagram-pic.jpg);
}

.medium-pic {
  width: 70%;
  background-image: src=url(images/bloc logo.png);
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  line-height: 1.2;
  line-height: 75%;
  line-height: 2em;
  line-height: normal;
}

.container {
  margin: 0 auto;
  width: 50%;
}
