body {
  background-color: #ffffff;
  color: #000000;
  background-repeat: no-repeat;
  background-position: top;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

figcaption {
  font-size: 9px
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 17px;
  font-style: italic;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}


.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

a {
  float: right;
  padding: 30px;
  text-decoration: none;
}

a:hover { color:#0070BC; } /* mouse over */


.container {
  margin: 0 auto;
  width: 50%;
  font-size: 16px;
  line-height: 1.2;
  line-height: 75%;
  line-height: 2em;
  line-height: normal;
}
